/* @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); */

:root {
  --white-color: #ffffff;
  --orange-color: #f58f81;
  --blue-color: #656c9a;
  --black-color: #343434;
}

body {
  margin: 0;
  background-color: var(--white-color);
}

.headerItems {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.callNow i{
  text-decoration: none;
  color: var(--blue-color);
  font-family: "Poppins", sans-serif;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-size: 16px;
}

.headerOption {
  color: var(--blue-color);
  font-size: 34px;
}

.orangeColor {
  color: var(--orange-color);
}

.logoBgImg {
  position: absolute;
  z-index: -1;
}

header {
  padding: 30px 35px;
}

.heroBgImg{
  z-index: inherit;
}

.heroSection {
  display: flex;
  align-items: center;
  justify-content: center;
}

.leftHeroSide {
  width: 100%;
  height: 100%;
  /* background-color: red; */
  z-index: -2;
}

.rightHeroSide {
  width: 100%;
  height: 100%;
}

.homeLeftImg {
  width: 90%;
  height: 100%;
  object-fit: contain;
  z-index: -2;
}

.rightHeroContent {
  position: absolute;
}

.rightHeroInner {
  width: 25vw;
  display: flex;
  flex-direction: column;
}

.heroHeading {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100px;
  font-weight: bolder;
  color: var(--white-color);
}

.decreaseMarginTop {
  margin-top: -20px;
}

.rightHeroInner p {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  font-weight: lighter;
  color: var(--white-color);
}

.buttonHolder button {
  background-color: var(--white-color);
  color: var(--black-color);
  padding: 25px 70px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  border: none;
  border-radius: 70px;
  transition: 0.3s;
}

.buttonHolder button:nth-child(2) {
  margin-left: 20px;
}

.buttonHolder button:hover {
  background-color: var(--blue-color);
  color: var(--white-color);
  cursor: pointer;
  transition: 0.3s;
}

.navigationHolder {
  height: 80px;
}

.navigationHolder a i{
  font-size: x-large;
  font-weight: bold;
  color: var(--white-color);
  transition-duration: .3s;
}

.navigationHolder a i:hover{
  color: var(--blue-color);
  transition-duration: .3s;
  margin-top: -10px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  header{
    width: 100%;
  }
  .headerItems a{
    display: none;
  }
  .headerItems{
    width: 100%;
    justify-content: space-around;
  }
  .logoBgImg{
    display: none;
  }
  .smdFlex-direction{
    flex-direction: column;
  }
  .homeLeftImg{
    width: 50%;
  }
  .homeRightBgImg{
    display: none;
  }
  .rightHeroContent{
    position: relative;
    padding: 10px 20px;
    /* background-color: red; */
    width: 100vw;
  }
  .rightHeroInner{
    background-color: var(--orange-color);
    width: 90vw;
    padding: 30px 20px;
  }
  .heroHeading{
    font-size: 40px;
  }
  .decreaseMarginTop{
    margin-top: 0px;
  }
  .buttonHolder button:nth-child(2) {
    margin-left: 0px;
    margin-top: 10px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}